/* General styles */
.container {
  display: flex;
  height: 100vh;
}

.side-menu {
  width: 20%;
  background-color: #FFCC00;
  padding: 2%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #FFCC00;
  color: #2e2e2e;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 2%;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFCC00;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: #2e2e2e;
  padding: 4% 6%;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calendar {
  margin-bottom: 2%;
}

.calendar-container {
  background-color: #FFCC00;
  padding: 2%;
  border-radius: 10px;
}

.selection-boxes {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 2%;
}

.box {
  width: 20%;
  height: 180px;
  background-color: #FFCC00;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #2e2e2e;
  font-weight: 700;
}

.temp-events {
  width: 80%;
  background-color: #FFCC00;
  padding: 2%;
  border-radius: 10px;
}

.temp-events h2 {
  margin-bottom: 1%;
  font-size: 20px;
  color: #2e2e2e;
  font-weight: 700;
}

/* Light mode */
body {
  background-color: #f5f5f5;
  transition: background-color 0.3s ease-in-out;
}

/* Dark mode */
body.dark-mode {
  background-color: #2e2e2e;
}

/* Box Swich */
.switch-container {
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Nascondi funzionalita html per migliore visione */
.switch-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Theme swich use */
.switch-container .slider {
  --background: linear-gradient(to right, #090613ef, #18151f);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background);
  transition: background-color 0.
  5s;
  border-radius: 30px;
}

.switch-container .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 15px -4px 0px 15px #f8ea27;
  background: var(--background);
  transition: transform 0.5s, box-shadow 0.5s;
}

.switch-container input:checked + .slider {
  background-color: #000;
}

.switch-container input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 8px -4px 0px 0px #f8f8f4;
}

/* Uso delle "card"*/
.card {
  width: 30%;
  height: 40vh;
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card h2 {
  z-index: 1;
  color: white;
  font-size: 2em;
  width: 75%;
  text-align: center;
}

.card::before {
  content: '';
  position: absolute;
  width: 200px;
  background-image: linear-gradient(180deg, rgb(255, 0, 0), rgb(0, 255, 0));
  height: 130%;
  animation: rotBGimg 2s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  0% { background-image: linear-gradient(180deg, rgb(255, 0, 0), rgb(0, 255, 0)); }
  50% { background-image: linear-gradient(180deg, rgb(0, 0, 255), rgb(255, 255, 0)); }
  100% { background-image: linear-gradient(180deg, rgb(255, 0, 255), rgb(0, 255, 255)); }
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: #FFCC00;
  ;
  inset: 5px;
  border-radius: 15px;
} 
