body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo-container {
  text-align: center;
}

.logo {
  width: auto; /* Imposta la larghezza desiderata per il logo */
  height: auto; /* Imposta l'altezza in base all'aspetto del logo */
}

.box {
  max-width: 400px;
  padding: 40px;
  background-color: #FFCC00;
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.field:not(:last-child) {
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
}

.is-primary {
  background-color: #e1fa43;
  border-color: #b3f721;
}

.is-primary:hover {
  background-color: #0B3B9E;
  border-color: #0B3B9E;
}

@tailwind base;
@tailwind components;
@tailwind utilities;