body.dark-theme {
  background-color: #000000;
  color: #ffffff;
}

body {
  background-color: #ffffff;
  color: #000000;
}

header {
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.header-container {
  border: 2px solid #c49216;
  background-color: #ffcc00;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
}

h1 {
  text-align: center;
}

.theme-switch-container {
  text-align: right;
  padding: 5px;
  height: 0;
}

.window-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.calendar-api {
  width: 800px;
  height: 600px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.Homebutton {
  display: grid;
  margin: 10px 0;
  padding: 10px 30px;
  background-color: #808080;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
}
